import PropTypes from 'prop-types'
import React from 'react'

function {{ pascalCase componentName }}({ text }) {
  return <div className={'{{ dashCase componentName}}'}>{text}</div>
}

{{ pascalCase componentName }}.propTypes = {
  text: PropTypes.string
}

export default {{ pascalCase componentName }}